@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: url(https://images.unsplash.com/photo-1612151855475-877969f4a6cc?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8aGQlMjBpbWFnZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Roboto', 'sans-serif';
  display: flex;
  align-items: top;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
.search {
  position: relative;
  height: 50px;
  top: 100px;
}
.search .input {
  background-color: #fff;
  border: 0;
  font-size: 18px;
  padding: 15px;
  height: 50px;
  width: 50px;
  transition: width 0.5s ease;
  border-radius: 5px;
}
.btn {
  background-color: #f1f1f1;
  border: 0;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  transition: transform 0.5s ease;
  border-radius: 5px;
}

.btn:focus {
  outline: none;
}

.search.active .input {
  width: 450px;
  outline: none;
}

.search.active .btn {
  transform: translateX(440px);
}
